<div class="row">
  <div class="col-md-12">
    <img
      class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
    <img
      [alt]="recipe.name"
      [src]="recipe.image"
      class="img-responsive"
      style="max-height: 150px;">
    <br/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button
        class="btn btn-info dropdown-toggle"
        type="button">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="">{{ recipe.description }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    Ingredients
  </div>
</div>
