<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="addIngredient()" #f="ngForm">
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="name">Name</label>
          <input type="text" ngModel name="name" class="form-control" placeholder="Enter Name" required>
        </div>
        <div class="col-md-4">
          <label for="amount">Amount</label>
          <input type="number" ngModel name="amount" class="form-control" placeholder="Enter Amount" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button 
            [disabled]="f.valid === false"
            class="btn btn-success" type="submit">Add</button> &nbsp;
          <button class="btn btn-primary" type="button" (click)="f.reset()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
