<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="addItem()" [formGroup]="form">
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="name">Name</label>
          <input
            formControlName="name"
            type="text" class="form-control" placeholder="Enter Name">
        </div>
        <div class="col-md-4">
          <label for="amount">Amount</label>
          <input
            formControlName="amount"
            type="number" class="form-control" placeholder="Enter Amount">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button [disabled]="!form.valid" class="btn btn-success" type="submit">{{ editMode ? 'Save' : 'Add' }}</button> &nbsp;
          <button class="btn btn-primary" type="button" (click)="clearForm()">Clear</button>
        </div>
      </div>
      <div class="row" *ngIf="editMode === true">
        <br/>
        <div class="col-md-12">
          <h4>Editing</h4>
        </div>
      </div>
    </form>
  </div>
</div>
